ul#playlist {
	list-style: none;
  padding-bottom:10px; 
  margin-right: 10px;
}
#control-bar{
	position: fixed;
	bottom: 0px;
	left: 0;
	z-index: 1031;
	width: 100%; 
	height: 120px;
  background-color: #000;
}
#control-bar .navbar {
	margin-bottom: 0px;
}
.scrollwrap{
	width: 100%; 
	height: 70px;
  padding-top:5px;
	padding-left: 5px;
  overflow: hidden;		
}
ul#playlist>li {
	list-style: none;
	padding: 5px;
	color: #FFF;
	font-size: 1.3em;
	position: relative;
	cursor: pointer;
  display: inline-block;
  zoom: 1;
  *display: inline;
	width: 150px;
	border-top: solid 1px #3d3d3d;
	background-color: #2c2c2c;
	background-image: -moz-linear-gradient(top, #333333, #222222);
	background-image: -ms-linear-gradient(top, #333333, #222222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
	background-image: -webkit-linear-gradient(top, #333333, #222222);
	background-image: -o-linear-gradient(top, #333333, #222222);
	background-image: linear-gradient(top, #333333, #222222);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
ul#playlist>li span.title{
	font-size: 0.6em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
	display:block !important;
	font-weight: bold;
	margin-top: 10px;
}
ul#playlist>li img{
	padding:1px;
	background:white;
	border:1px solid #DDD;
}
ul#playlist>li:hover .actions{ display: block;}
ul#playlist>li.current input{ display: none;}
ul#playlist>li.current{
	text-overflow: ellipsis;
	white-space: nowrap;
	background: #FFF;
	box-shadow: 0px 1px 1px #CCC;
	color: #000;
}
ul#playlist>li.current .actions{
}
.video_item{
	overflow:auto;
	padding-right:5px;
}
.video_item .actions{
  width:45px;
  height: 30px;
  position:absolute;
  top:0px;
  right:0px;
  overflow:visible;
  display: none;
}

.video_item>ul>li{
	display:inline-block;
	list-style: none;
	line-height: 1px;
}
.video_item>ul>li>a, .video_item>ul>li> .dropdown>a{
	padding: 0px;
	display: block;
}
.video_item>ul>li ul {
	font-size:0.75em
}
.video_item img{
	display:block;
	width:35px;
	height:35px;
	float:left;
	margin-right:15px;
}
.dropdown-menu li > a:hover{
	background-color: #333;
}
.clearlist, .playsong, .skip{
  cursor:pointer;
}