#sidebar{
	position: fixed;
	top: 0px;
	right: 0px;
	width: 205px;
	border-left: 1px solid #ddd;
	height: 100%;
	z-index: 999999;
	background-color: #FFF;


}
#activities, #toptenlist{
	list-style: none;
	padding: 5px;
}
#activities li, #toptenlist li{
	padding: 5px;
	text-transform: none;
	font-size: 11px;
	overflow: auto;
}
#sidebar li:hover{
	background-color: whiteSmoke;
	cursor: pointer;
}
#activities li.list-header, #toptenlist li.list-header{
	display: block;
	padding: 3px 10px;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	color: #999;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}
#activities li a, #toptenlist li a{
	color: #333;
	text-transform: uppercase;
}
#toptenlist li p, #activities li p{
	float: right;
	width: 150px;
}
#toptenlist li img, #activities li img{
	float: left;
	width: 30px;
	display: block;
}
#sidebar .name{
	font-weight: bold;
}
#sidebar #toptenlist li img, #sidebar #activities li img{
	height: 29px;
	width: 29px;
}
