@-moz-document url-prefix() {
    img:-moz-loading {
        visibility: hidden;
    }
    img:-moz-broken {
        -moz-force-broken-image-icon: 0;
   }
}
.logo{
  padding:0px;
  margin:0px;
  width:205px;
  height:52px;
  background:url('/img/logo.png') top left;
  margin-left:-10px;
  margin-top:13px;
  background-repeat:no-repeat;
}
h3{
	margin-top:20px;
}
#autocompleter{
  margin: 0 0 0 0px;
  border-radius: 0;
  width: 112.6%;
  font-size: 1em;
  padding:16px 10px ;
	
  position:absolute;
  top:52px;
  z-index:99999;
  background-color:white;
  -moz-box-shadow:    2px 2px 2px 2px #eaeaea;
  -webkit-box-shadow: 2px 2px 2px 2px #eaeaea;
  box-shadow:         2px 2px 2px 2px #eaeaea;
}
#autocompleter li{
  list-style:none;
  padding:10px;
  border-bottom:1px solid #EAEAEA;
}
#autocompleter li:last-child{
  border:none;
}
#autocompleter li:hover{
 background-color:#000000;
 color:white;
 cursor:pointer;
}
#autocompleter li img{
  height:100%;
  width:100%;
  margin-right:20px;
}
#autocompleter li
{
  overflow:auto;
}
#autocompleter li div{
  float:left;
  padding-right:10px;
}
.selected{
 background-color:#000000;
 color:white;
}
.shareurl{
  border-radius: 30px;
  height: 30px;
  line-height: 32px;
  background-color: #FFFFFF;
  overflow:hidden;
  padding: 0 10px;
  position: relative;
  font-weight: bold;
}


#wrap-playlist{
  overflow:hidden;
}
ul.playlist {
	list-style: none;
	border: none;
	margin: 0;
}
ul.playlist li {
	list-style: none;
	border-bottom: 1px solid #CCC;
	background: #FEFEFE;
	padding: 15px;
	color: #666;
	font-size: 1.3em;
	position: relative;
	padding-right:40px;
}
ul.playlist li span.title{
	font-weight: bold;
	font-size: 0.97em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
	display:block !important;
	margin-top: 5px;
}
ul.playlist li:hover {
	border-bottom: 1px solid #C1C1C1;
	background: #E1E1E1;
	cursor: pointer;
}
ul.playlist li img{
	padding:5px;
	background:white;
	border:1px solid #DDD;
}
.actions{
  width:60px;
  height: 40px;
  position:absolute;
  top:20px;
  right:0px;
  overflow:auto;
  padding-top: 9px;
}
.actions a{
  float:left;
  margin-right:5px;
}
.vote {
	background:url('/img/metal.png') no-repeat center;
	display:block;
	width:18px;
	height:18px;
}
#currentVideo.current {
	font-weight: bold;
	font-size: 1.5em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height:2em;
	background: #FFF;
	box-shadow: 0px 1px 1px #CCC;
	position: relative;
	z-index: 10;
	color: #000;
	padding: 20px;
	display:block !important;
}
#currentVideo{
  /*display:none;*/
}
#currentVideo img{
	padding: 6px;
	background: white !important;
	margin-right: 10px;
	border: 1px solid #ddd;
}
ul.playlist li.current input,ul.playlist li.current a{
  display:none;
}
.clearlist, .playsong, .skip{
  cursor:pointer;
}
#search {
  position:relative;
  background: #000 url('/img/icon-search.png') no-repeat 3.5% 13px;
  width:85.7%;
}
#search input {
	margin: 0 0 0 12%;
	border-radius: 0;
	width: 100%;
	font-size: 16px;
	padding:16px 2.3% ;
}
#player {
	width: 100%;
	overflow: hidden;
}

.thumb-search{
  background:url('/img/ajax-loader.gif') no-repeat center;
}

#controls{
  padding-left:10px;
}
#controls a{
  cursor:pointer;
}
#shares{
  margin-top:20px;
  display:none;
}
#likewrap{
	width:120px;
	height:35px;
	overflow:hidden;
}
.song{
	overflow:auto;
	padding-right:30px;
}
#mylists{
	list-style:none;
	padding:0px;
	margin:0px;
	cursor:pointer;
	
}
#mylists li{
	padding:10px;
	padding-left: 0px;
}
#mylists li:hover{
	font-weight: bold;
}
#mylists li span.current-list{
	font-weight:bold;
}
#save-control{
	margin-top:10px;
	margin-bottom:20px;
	display:none;
}
#save-control a {
	margin-top:-9px;
	width:24%;
}
#listname{
	width:30%;
}
.song img{
	display:block;
	width:35px;
	height:35px;
	float:left;
	margin-right:15px;
}
.call-to-action{
	margin-top:30px;
	width:50%;
}
.votes{
	font-size:0.7em;
	margin-top: 5px;
}
.modifiers .navbar div.navbar-inner{
	margin-left:0px;
	padding-left:0px;
}
.modifiers .nav li a{
	padding-left:18px;
	padding-right:18px;
}
.modifiers .nav li a i{
	margin:0 auto;
	display:block;
	width:14px;
	height:14px;
}
.modifiers .nav li.divider-vertical{
	margin:0px;
}
#mainnav .nav li img{
	margin-top:7px !important;
	display:block;
	padding:2px;
	background:white;
}
#mainnav .navbar-inner{
	min-height:43px !important;
}

.item-playlist{
	overflow:auto;
	width:68%;
}
.item-playlist .playlist-actions{
	float:right;

}
@media (max-width: 480px) {
	.modifiers .nav li a{
		padding-left:13px;
		padding-right:13px;
	}	
	#search {	
	  background: #000 url('/img/icon-search.png') no-repeat 3.5% 13px;
	  width:83%;
	}
	#search input {
		margin: 0 0 0 16%;
		border-radius: 0;
		width: 100%;
		font-size: 16px;
		padding:16px 2.3% ;
	}	
}
@media (min-width: 768px) and (max-width: 979px) {
	.modifiers .nav li a{
		padding-left:18px;
		padding-right:18px;
	}
	#search {	
	  background: #000 url('/img/icon-search.png') no-repeat 3.5% 13px;
	  width:83%;
	}
	#search input {
		margin: 0 0 0 16%;
		border-radius: 0;
		width: 100%;
		font-size: 16px;
		padding:16px 2.3% ;
	}	
}
@media (min-width: 1200px) {
	.modifiers .nav li a{
		padding-left:24px;
		padding-right:24px;
		padding-top:13px;
	}		
}