html,body{
	font-family: arial, sans-serif;
	padding-top: 10px;
}
@-moz-document url-prefix() {
    img:-moz-loading {
        visibility: hidden;
    }
    img:-moz-broken {
        -moz-force-broken-image-icon: 0;
   }
}
.logo{
  padding:0px;
  margin:0px;
  height:52px;
  background:url('/img/logo.jpg') top left;
  margin-left:0px;
  margin-top:13px;
  margin-bottom: 20px;
  background-repeat:no-repeat;
  background-position: 51.5% center;

}
h3{
	margin-top:20px;
}
.left{
	float: left;
	overflow: auto;
}
.right{
	float: right;
	overflow: auto;
}

.selected{
 background-color:#000000;
}
.shareurl{
  border-radius: 30px;
  height: 30px;
  line-height: 32px;
  background-color: #FFFFFF;
  overflow:hidden;
  padding: 0 10px;
  position: relative;
  font-weight: bold;
}

#search {
  position:relative;
  background: #222 url('/img/icon-search.png') no-repeat 3.5% 13px;
  width:85.7%;
}
#search input {
	margin: 0 0 0 12%;
	border-radius: 0;
	width: 100%;
	font-size: 16px;
	padding:16px 2.3% ;
}
#player-div {
	width: 100%;
	overflow: hidden;
	max-height: 200px;
}

.thumb-search{
  background:url('/img/ajax-loader.gif') no-repeat center;
}

#controls{
  padding-left:10px;
}
#controls a{
  cursor:pointer;
}
#shares{
  margin-top:30px;
  display:none;
  overflow: hidden;
  padding-bottom: 10px
  border-bottom: 1px solid #dedede;
  margin-bottom:20px;
}
#shares .left{
	width: 62%;
	overflow: visible;
}
#shares .right{
	width: 35%;
	overflow: visible;
}
#shares .qr-wrap{
	width: 170px;
	height: 170px;
	background-position: -15px -15px;	
	border: 1px solid #ddd;
	display: none;
	margin-top: 20px;
}
#shares #share-buttons li{
	display: inline-block;
}
#mylists li a{
	color:#333;
	padding: 8px;
	padding-left: 12px;
	border-radius: 5px;
}
#mylists li.nav-header{
	padding-left: 12px;
}
#mylists li.active a{
	background-color: #eee;
	color: #333 !important;
}
#mylists li a .playlist-actions{
	float: right;
}
#mylists li a .edit-button{
	width: 14px;
	height: 14px;
	float: right;
	margin-right: 5px;
}
#mylists li a .delete{
	width: 14px;
	height: 14px;
	float: right;
	margin-right: 5px;
}

#save-control{
	margin-top:10px;
	margin-bottom:20px;
	display:none;
}
#save-control a {
	margin-top:-9px;
	width:24%;
}
.save-create-buttons{
	padding-left: 11px;
}
.playlists div.save-create-buttons a {
	color: #777 !important;
}
#listname{
	width:30%;
}

.call-to-action{ margin-top:30px; width:50%; }
.votes{	font-size:0.7em; margin-top: 5px;}
.modifiers .navbar div.navbar-inner{
	margin-left:0px;
	padding-left:0px;
}
.modifiers .nav li a{
	padding-left:18px;
	padding-right:18px;
}
.modifiers .nav li a i{
	margin:0 auto;
	display:block;
	width:14px;
	height:14px;
}
.modifiers .nav li.divider-vertical{ margin:0px;}
.typeahead{
	width: 104.7%;
	margin-left: 12%;
	margin-top: -1px; 
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -khtml-border-radius-topright: 0px;
  border-radius-topright: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -khtml-border-radius-topleft: 0px;
  border-radius-topleft: 0px;  
}
.typeahead .active > a,
.typeahead .active > a:hover {
    color: black;
    background-color: #eeeeee;
    background-image: none;
}
#activate-second-toolbar{
	position: fixed;
	top: 15px;
	left: 15px;
	width: 200px;
	cursor: pointer;
}
#activate-second-toolbar:hover #activate-second-toolbar-icon{
	background-color: #333;
}
#activate-second-toolbar:hover span{
	color: #000;
}
#activate-second-toolbar span{
	position: absolute;
	left: 35px;
	color: #666;
}
#activate-second-toolbar span.title{
	text-transform: uppercase;	
	font-size: 0.8em;
	font-weight: bold;
	top: -4px;
}
#activate-second-toolbar span.desc{
	top: 10px;	
	font-size: 0.7em;
}
#activate-second-toolbar-icon{
	display: block;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 3px;
	border: #000;
	border-top: solid 1px #999;
	background-color: #666;
	width: 15px;
}
#activate-second-toolbar i {

}
@media (max-width: 480px) {
	.modifiers .nav li a{
		padding-left:13px;
		padding-right:13px;
	}	
	#search {	
	  background: #000 url('/img/icon-search.png') no-repeat 3.5% 13px;
	  width:83%;
	}
	#search input {
		margin: 0 0 0 16%;
		border-radius: 0;
		width: 100%;
		font-size: 16px;
		padding:16px 2.3% ;
	}	
}
@media (min-width: 768px) and (max-width: 979px) {
	.modifiers .nav li a{
		padding-left:18px;
		padding-right:18px;
	}
	#search {	
	  background: #000 url('/img/icon-search.png') no-repeat 3.5% 13px;
	  width:83%;
	}
	#search input {
		margin: 0 0 0 16%;
		border-radius: 0;
		width: 100%;
		font-size: 16px;
		padding:16px 2.3% ;
	}	
}
@media (min-width: 1200px) {
	.modifiers .nav li a{
		padding-left:24px;
		padding-right:24px;
		padding-top:13px;
	}		
}